# Ignore all node_modules
**/node_modules/

# Ignore backend environment files
/backend/.env

# Ignore logs
*.log
npm-debug.log*

# Ignore frontend build output
/frontend/build/
/frontend/.next/
/frontend/.turbo/

# Ignore OS files
.DS_Store